/* Empty file for template. Remember to edit only this file and not the HTML file */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* applies font to all items */
* {
    font-family: "Libre Bodoni", serif;
}
/* background color and outside line */
:root {
    background-color: #e1a1cd;
    margin: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-image: url(Japan/Fiji.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
  
.preamble{
    background-color: rgba(0, 0, 0, 0.701);
    border-radius: 10px;
    padding: 10px;
    color: black;

}
/* inside line */
body {
    margin: 5px;
    border: 10px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

a {
    color: #D3D3FF;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    order: -2;
    color: lightpink;
}

.intro [role=banner] h1 {
    font-style: italic;
    font-size: 96px;
}


/* inserts flower image */
.intro [role=banner] h1::after {
    position: absolute;
    transform: translate(-50%, 125px);
    left: 50%;
    margin-left: -5px;

    background-image: url(Japan/Blossom.avif);
    background-position: center;
    background-size: cover;

    filter: sepia(60%) opacity(80%);

    content: '';
    width: 500px;
    height: 500px;
    outline: 5px solid rgb(243, 243, 243);
    outline-offset: 5px;
}

.intro [role=banner] h2 {
    padding-top: 450px;
    margin-bottom: 0;
    font-size: 64px;
}

.intro .summary {
    font-size: 20px;
    max-width: 700px;
}

.intro .summary :last-child {
    font-size: 16px;
}

.intro #zen-preamble {
    background-image: url(Japan/Dark.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    width: 100%;
    height: 800px;

    border: 5px solid rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
}

.intro #zen-preamble h3 {
    align-self: flex-start;

    text-align: left;
    width: 535px;

    font-style: italic;
    font-size: 36px;

    margin-left: 10vw;
    margin-top: 102px;
}

.intro #zen-preamble p:first-of-type {
    align-self: flex-start;

    width: 528px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 10vw;

    text-align: left;
}

.intro #zen-preamble p:not(:first-of-type) {
    align-self: flex-start;
    

    width: 528px;
    margin: 5px;
    margin-left: 10vw;

    text-align: left;
}

aside {
    order: -1;
}

aside .design-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside .design-selection h3 {
    font-size: 64px;
    font-style: italic;
}
h3{
    background: url(Japan/Blossom.gif);
    background-repeat: no-repeat;
    font-size: xx-large;
    background-blend-mode: color-burn;
    text-align: left;
    opacity: 60%;
    border-radius: 20px;
    margin-left: 5%;
}