body{
    display: flex;
    background-image: url(Clown/Hero\ Image.png);
    background-color: #877872;
    background-repeat: no-repeat;
    background-size: 98%;
    position: fixed;
    float: left;

    
}
h1{
    text-align: center;
    font-size: xx-large;
    color: white;
    
}
:root{
    background-color: #877872;
    margin: 10px;
    border: 5px solid black;
}
.intro{
    margin-top: 25%;
}
.summary{
    margin-top: 30%;
}