h1{
    text-align: center;
    color:white;
    flex-wrap: wrap;
    font-size: xx-large;
    
}
:root{
    background-color: rgb(126, 128, 100);
}
.page-wrapper{
    background-image: url(Clown/Hero\ Image.png);
    background-repeat: no-repeat;
}
body{
    background-image: url(Clown/Side\ Margin.png);
    background-repeat: no-repeat;
    float: right;
    display: flex;
    flex-direction: column;
    size: 100vw;
}
p{
    text-transform: uppercase;
}
a:hover{
    color:rgba(255, 255, 255, 0.536);
    background-color: rgba(0, 0, 128, 0.249);
    border-radius: 10px;
    border-color: grey;
}
a{
    color: rgb(28, 43, 82);
}
a:link{
    color: rgb(255, 34, 0);
}